node_modules
.next
.git
.gitignore
.dockerignore
pnpm-debug.log
npm-debug.log
yarn-debug.log
yarn-error.log
README.md
LICENSE
.vscode
.idea
.env.local
.env.development.local
.env.test.local
.env.production.local