NEXT_PUBLIC_AUTH_TOKEN=
NEXT_PUBLIC_AUTH_SERVICE_URL=
NEXT_PUBLIC_TRANSACTION_SERVICE_URL=
NEXT_PUBLIC_PRODUCT_SERVICE_URL=
NEXT_PUBLIC_HELPER_SERVICE_URL=
NEXT_PUBLIC_PROMOTION_SERVICE_URL=
NEXT_PUBLIC_CHANNEL_SERVICE_URL=
NEXT_PUBLIC_API_POLICY_BASE_URL=
NEXT_PUBLIC_API_CLAIM_BASE_URL=
NEXT_PUBLIC_SANCTION_SERVICE_URL=
NEXT_PUBLIC_COUNTRY_SERVICE_URL=
NEXT_PUBLIC_FINANCE_SERVICE_URL=