NEXT_PUBLIC_AUTH_TOKEN=6eyw7n4kk9063sivf6ubt8dz5kyhwl
NEXT_PUBLIC_AUTH_SERVICE_URL=https://auth-service-j47lj.ondigitalocean.app
NEXT_PUBLIC_TRANSACTION_SERVICE_URL=https://transaction-service-ndrjk.ondigitalocean.app
NEXT_PUBLIC_PROMOTION_SERVICE_URL=https://marketing-promotion-app-ole7b.ondigitalocean.app
NEXT_PUBLIC_CHANNEL_SERVICE_URL=https://channel-service-3f7d5.ondigitalocean.app
NEXT_PUBLIC_FRIENDSURE_SERVICE_URL=https://goldfish-app-fu3qg.ondigitalocean.app